HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
item/640a77ae-46f3-46c4-944b-efdbecce0a27.png
item/b7431e91-03a5-438f-8c04-ad4dcf2ef710.jpg
item/daaa4139-0682-4252-9bc7-6f949cb5f8e6.jpg
